root = true

[*]
indent_style = space
end_of_line = auto
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100
indent_size = 2
ij_typescript_enforce_trailing_comma = always

[*.md]
trim_trailing_whitespace = false
