API_MODE=
API_API_KEY=
API_NAVIGATION_SERVICE=
API_CAAS=
API_PROJECT_ID=
API_TENANT_ID=
; JSON map of remote projects, e.g.
; {"myRemote":{"id":"<projectId>","locale":"en_GB"},"otherRemote":{"id":"<projectId>","useSourceLocale":true}}
API_REMOTES=
