INTEGRATION_TEST_API_KEY=xxxxxxxx-xxxx-xxxx-xxxxxxxx
INTEGRATION_TEST_CAAS=https://your-caas-api.e-spirit.cloud
INTEGRATION_TEST_NAVIGATION_SERVICE=https://your-navigation-service.e-spirit.cloud
INTEGRATION_TEST_TENANT_ID=fsxa-api-integration-test